<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<p>
<a href="http://www.w3schools.com/angular/angular_intro.asp">oke eerst angular leren</a>
</p>
<p>Try to change the names.</p>

<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="number" ng-model="A1"><br>
Last Name: <input type="number" ng-model="A2"><br>
<br>
Full Name: {{A1+A2}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
});
</script>

</body>
</html>